body{
	background-color: #E9E9E8;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}
html{
	overflow: auto;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
.no-padding{
	padding: 0;
}
.text-form{
	padding: 0 20px; 
	text-decoration: none;
	font-family: "Neris-ThinItalic";
	/*font-family: "Neris-LightItalic";*/
	color: black;
}
.input-img{
	width:100%;
	padding: 	0 35px 0 55px;
	display: table;
}
.row-input{
	display: table-row;
}
.input-img .img-photo{
	width: 70%;
  	display: table-cell;
  	overflow: hidden;
}
.input-img .img-photo img{
	width: 100%;
	min-height: 200px;
	/*max-height: 250px;*/
	border-radius: 50%;
	border-color: #FAE903;
	border-style: solid;
	border-width: 5px;
}
.input-img .input-option{
	width: 30%;
  	display: table-cell;
  	padding-top: 0;
  	vertical-align: middle;
}
.input-library .input-camera{
	width: 100%;
	min-height: 50%;
}
.input-library img, .input-camera img{
	display: table-cell;
	margin: 60% auto;
	vertical-align: middle;
}
.text{
	width: 100%;
	padding: 20px 71px;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"],
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
.list-inset .item.item-input input.date-input{
	padding-right: 10px;
}
/*==================================
=            Font Style            =
==================================*/

@font-face{
	font-family: "Neris-Black";
	src: url("../fonts/Neris-Black.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Neris-BlackItalic";
	src: url("../fonts/Neris-BlackItalic.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Neris-LightItalic";
	src: url("../fonts/Neris-LightItalic.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Neris-ThinItalic";
	src: url("../fonts/Neris-ThinItalic.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Neris-Light";
	src: url("../fonts/Neris-Light.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Neris-Thin";
	src: url("../fonts/Neris-Thin.otf");
	font-weight: normal;
	font-style: normal;
}
/*=====  End of Font Style  ======*/

/*======================================
=            Sidemenu Style            =
======================================*/

.side-menu{
	position: fixed;
	left: 15px;
	top: 15px;
}
#sidebar{
	position: fixed; 
	display: inline-block; 
	top: 0px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: black; 
	transition: all 0.5s ease-in-out;
	z-index: 100;
}
/*v2*/
nav {
    height: 100%;
    width: 290px;
    background-color: #e0e0e0;
    left: 0;
    top: 0;
    z-index: 200;
    position: fixed;
    transform: translate(-290px,0);
}
nav .item-sidemenu{
	width: 100%;
	padding-left: 60px;
	height: 40px;
	line-height: 40px;
	font-family: "Neris-Black";
	border-bottom: 3px solid #d0d2d3;
	margin-bottom: -3px;

}
.content-sidemenu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	height: 160px;
	border-top: 3px solid #d0d2d3;
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 100;
}

/*=====  End of Sidemenu Style  ======*/

/*=====================================
=            Splash Style            =
=====================================*/
.image_container {
    position: absolute;
    left: 50%;
    top: 50%;
}
.image_container img{
	position: relative;
  margin: -50px 0 0 -55px;
  left: 50%;
  top: 50%;
}
/*=====  End of Splash Style  ======*/

/*===================================
=            Login Style            =
===================================*/
.logo-img{
	display: block;
	vertical-align: middle;
	margin: 50px auto;
}
.header-title{
	font-size: 20px;
	font-family: "Neris-Black";
}

.login-form{
	width: 100%;
	height: auto;
	padding-left: 45px;
	padding-right: 25px;
}
.item-input, .item-input input{
	background-color: #BDBDBD;
	color: #3A393B;
	font-family: "Neris-BlackItalic"
}
.item-input{
	margin-bottom: 5px;
}
.list-inset{
	background: #E6E7E8;
}
input[type="text"]{
	width: 100%;
}
input[type="text"]::-webkit-input-placeholder, input[type="text"]:-ms-input-placeholder,input[type="text"]:placeholder-shown  {
	color:    red;
	font-style: italic;

}
input[type="text"]::-moz-placeholder ,input[type="text"]::-moz-placeholder { 
	color:    red;
	opacity:  1;
	font-style: italic;
}
input::-webkit-input-placeholder {
	color:    #8A8A8A;
	font-family: "Neris-LightItalic"
}	
.submit-button{
	margin:0;
	padding: 0;
	background: transparent;
	position: absolute;
	right: 25px;
	margin-top: 20px;
}
/*=====  End of Login Style  ======*/

/*====================================
=            Budget Style            =
====================================*/

.text-username{
	font-family: "Neris-ThinItalic";
	padding-top: 0;
	padding-bottom: 0;
}
.text-input{
	padding-left: 16px;
	font-family: "Neris-LightItalic";
	margin: 20px 0 10px;
}
/*=====  End of Budget Style  ======*/

/*==================================
=            Goal Style            =
==================================*/
.test-circle{
	margin-top: -45px;
	/*background: url('../img/add_goals.png') center no-repeat;*/
	background-size: 50px;
	background-position: 52% 54%;
}
.goal-img{
	width: 70%;
	height: 70%;
	margin: 30px auto 10px;
}
.main-content{
	height: auto;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 9px 24px -7px rgba(0,0,0,0.64);
-moz-box-shadow: 0px 9px 24px -7px rgba(0,0,0,0.64);
box-shadow: 0px 9px 24px -7px rgba(0,0,0,0.64);
z-index: 2;
}
.goal-content{
	min-height: 90%;
	height: 80%;

}
.goal-text{
	padding: 0 55px;
	margin-top: -25px;
	font-size: 11px;
}
.goal-name{
	font-family: "Neris-Black";
	font-size: 32px;
	margin: 10px auto;
	text-align: left;
}
.trans-content{
	background: white;
	margin-top: 5px;
	padding-top: 35px;
}
img.save-btn{
	position: absolute;
	z-index: 50;
	top: 14%;
	right: 14%;
	width: 15%;
}
.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position: absolute;
	left: 10px;
	top: 105px;
	font-size: 12px;
}

/*=====  End of Goal Style  ======*/

/*=========================================
=            Transaction Style            =
=========================================*/
.left-side{
	background: white;
	width: 55px;
	min-height: 100px;
	margin-top: -35px;
	float: left;
}
.vertical{
	transform: rotate(-90deg);
	width: 100px;
	margin-left: -20px;
	margin-top: 20px;
	font-size: 12px;
}
.money-transaction{
	border-bottom: 3px solid #d2d2d2;
	padding-bottom: 20px;
	padding-right: 10px;
	font-size: 24px;
}
img.add-transaction{
	top:80%;
}
.today-transaction{
	padding-right: 0;
}
.row.detail-transaction{
	margin-bottom: 17px;
}
.transaction-text{
	margin-top: 0;
}
.transaction-img{
	width: 15%;
	margin-top: 10px;
}
.transaction-img img{
	width: 20px;
}
.transaction-category{
	width: 45%;
}
span.category{
	text-transform: uppercase;
	font-family: "Neris-Black";
}
.transaction-price{
	width: 30%;
	font-family: "Neris-Black";
	font-size: 18px;
	margin:auto;
	text-align: right;
}
.transaction-arrow{
	width: 10%;
	margin:auto;
	padding-left: 5px;
}
.transaction-arrow img{
	width: 10px;
}
.transaction-category.total{
	width: 35%;
}
.total{
	font-family: "Neris-Black";
	margin:0;
	width: 40%;
}
.row.detail-transaction.total-transaction{
	padding-bottom: 20px;
}
/*=====  End of Transaction Style  ======*/

/*==========================================
=            AddGoalsHome Style            =
==========================================*/
.username-goals:before{

}
.username-goals{
	text-align: right;
	padding-right: 35px;
	font-family: "Neris-LightItalic";
	font-size: 12px;
}
.progress{
	margin-top: 10px;
}
.goal-name.progress{
	padding-right: 30px;
}
.goal-text.text-addgoal{
	font-family: "Neris-Black";
	margin-top: 25px;
	font-size: 14px;
}
.text-addgoal.borderbottom{
	margin-top: 20px;
	margin-left: 55px;
	padding-bottom: 10px;
	padding-left: 0;
	border-bottom: 3px solid #d2d2d2;
}
.goal-text.daily-saving.text-addgoal{
	background: #f8d720;
	padding: 5px;
	margin-left: 55px;
	margin-right: 35px;
	margin-top: 10px;
}
.home-button{
	margin-top: -20px;
}
/*=====  End of AddGoalsHome Style  ======*/

/*====================================
=            Nabung Style            =
====================================*/
.save-goaltext{
	margin-top: 10px;
	margin-bottom: -10px;
}
#overlay{ /* we set all of the properties for are overlay */
    
    width:100%;
    margin:0 auto;
    padding: 65px 20px 20px;
    color:#e2e2e0;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    display:none;
}
#overlay img.save-btn{
	top: 33%;
}
#overlay img.save-btn.optional-btn{
	top: 75%;
}
#overlay .goal-text.text-addgoal{
	margin-top: 18px;
	margin-bottom: 50px;
}
#overlay label{
	margin-top: 30px;
	margin-left: 35px;
	margin-right:55px;
	background: #3b3b3c;
}
#overlay label.item{
	border: none;
}
#overlay label.item.item-input input{
	color:#e2e2e0;
	font-family: "Neris-Black";
	line-height: 18px;
	height: 28px;
}
#overlay label input{
	background: #3b3b3c;
}
#mask{ /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}
/* use :target to look for a link to the overlay then we find are mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
}

/*=====  End of Nabung Style  ======*/

/*======================================
=            AddTrans Style            =
======================================*/
body.trans{
	background: #fbfbfc;
}
body.trans .header-title{
	background: #e2e2e0;
}
.trans-content.trans{
	background: #fbfbfc;
}
.left-side.trans{
	background: #fbfbfc;
}
.addtrans-content{
	background: #fbfbfc;
	min-height: 100%;
}
.addtrans-text{
	margin-top: 50px;
}
.item.item-input.trans, .item.item-input.trans input{
	background: #fbfbfc;
	color: #3b3b3c;
	border: none;
	margin-top: 5px;
}
.vertical.trans{
	margin-left: -20px;
	margin-top: 10px;
}
.goal-text.trans{
	margin-top: 0;
	border: none;
}
.addtrans-input{
	margin-left: 35px;
}
.addtrans-item{
	padding-left: 20px;
	border-bottom: 3px solid #d2d2d2;
}
.trans-img{
	width: 20%;
}
.trans-img img{
	width: 60%;
	padding: 10px 10px 10px 0;
	max-height: 52px;
	vertical-align: middle;
}
img.add-transaction.trans{
	top: 90%;
}
/*=====  End of AddTrans Style  ======*/

/*=================================
=            Tab Style            =
=================================*/

.this-tabs {
    max-width: 100%;
    float: none;
    list-style: none;
    padding: 0;
    background: background: #e2e2e0;
}
.this-tabs:after {
    content: '';
    display: table;
    clear: both;
}
.this-tabs input[type=radio] {
    display:none;
}
.this-tabs label {
    display: block;
    float: left;
    width: 33.3333%;
    color: #211c1c;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
    font-family: "Neris-Black";
    padding: 15px;
    background: #e2e2e0;
}
.this-tabs label span {
    display: none;
}
.this-tabs label i {
    padding: 5px;
    margin-right: 0;
}
.this-tabs label:hover {
    color: #211c1c;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color:#fbfbfc;
}
.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.this-tabs [id^="tab"]:checked + label {
    background: #fbfbfc;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}

/*=====  End of Tab Style  ======*/

/*==================================================
=            Category Transaction Style            =
==================================================*/

.category-trans{
	margin-left: 55px;
}
.category-item{
	padding-left: 20px;
	border-bottom: 3px solid #d2d2d2;
	height: 60px;
}
.this-tabs label.item{
	width: 100%;
	text-align: left;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 4px;
	border: none;
}
.trans-img{
	width: 20%;
	margin-top: 7px;
}
.item.item-input.noitalic input{
	font-family: "Neris-Black";

}
/*=====  End of Category Transaction Style  ======*/

/*================================================
=            Detail Transaction Style            =
================================================*/
.row.inside{
	margin-left: 11px;
}
.detailtrans{
	margin-left: 55px;
	font-family: 'Neris-Black';
	font-size: 16px;
}
.monthly{
	margin-top: 20px;
	padding-bottom: 50px;
	border-bottom: 3px solid #d2d2d2;
}
.text-inflow, .text-outflow{
	font-family: 'Neris-Light';
	width: 40%;
}
.text-inflow{
	color: #49b442;
}
.text-outflow{
	color:#e81061;	
	margin-top: 5px;
}
.monthly-inflow, .monthly-outflow{
	text-align: right;
	width: 50%;
	font-family: 'Neris-Light';
	margin-top: 5px;
}
.monthly-total{
	width: 90%;
	margin-top: 20px;
	text-align: right;
}
.monthly-arrow{
	margin: 20px auto 0;
	width: 10%;
	height: 20px;
}
.monthly-arrow img{
	width: 10px;
	margin-left: 10px;
}
img.save-btn.chart{
	top: 35%;
	right: 10%;
}
img.save-btn.home{
	top: 90%;
	right: 10%;
	position: fixed;
}
.daily{
	width: 100%;
	margin: 10px 0;
	border-bottom: 3px solid #d2d2d2;
}
.transaction-date{
	width: 15%;
	font-size: 30px;
}
.transaction-day{
	width: 40%;
	vertical-align: text-bottom;
	font-size: 11px;
	padding-left: 5px;
	padding-top: 10px;
}
.transaction-money{
	width: 40%;
	text-align: right;
	font-family: 'Neris-Light';
	margin: auto;
}
.detail-daily{
	margin-top: 15px;
}
.transaction-category.detail, .category-daily{
	padding-left: 5px;
}
span.category.detail{
	font-size: 12px;
	display: block;
	margin-bottom: -5px;
}
span.note{
	font-size: 12px;
	display: block;
}
.transaction-img.img-daily img{
	width: 80%;
}
.row+.row.item-detail{
	margin-top: 8px;
}
/*=====  End of Detail Transaction Style  ======*/

/*=======================================
=            Accordion Style            =
=======================================*/

.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	padding-right: 20px;
	text-align: left;
}
.ac-container label{
	font-family: 'Neris-Black';
	padding-left: 16px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #211c1c;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 16px;
	background: #e2e2e0;
	text-transform: uppercase;
	
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3)
}
.ac-container label:hover{
	background: #e2e2e0;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #e2e2e0;
	color: #211c1c;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after,
.ac-container label:before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 3px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	/*background-image: url(../img/arrow_up.png);*/
}
.ac-container input{
	display: none;
}
.ac-container .ac-content{
	margin-top: -1px;
	overflow: hidden;
	max-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ .ac-content{
	-webkit-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	
}
.ac-container input:checked ~ .ac-content{
	max-height: 2000px;
}
.ac-content{
	border: none;
}

/*=====  End of Accordion Style  ======*/

/*=====================================
=            Loading Style            =
=====================================*/
.loading-screen{
	background: rgba(0,0,0,0.6);
	width: 100%;
	min-height: 100%;
	position: fixed;
}
.windows8 {
	position: absolute;
	width: 78px;
	height:78px;
	margin: auto;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.windows8 .wBall {
	position: absolute;
	margin: auto;
  
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #f7f7f7;
	left:0px;
	top:0px;
	border-radius: 10px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

/*=====  End of Loading Style  ======*/


.trans-img img{
	width: auto;
}

.reset-margin{
	margin:0;
}